<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.boot.mapper.CityMapper">
    <!--    public Account getAcct(Long id); -->
<!--    <select id="getAcct" resultType="com.atguigu.admin.bean.Account">-->
<!--        select * from  account_tbl where  id=#{id}-->
<!--    </select>-->

    <insert id="insert" useGeneratedKeys="true"  keyProperty="id">
        INSERT INTO `db_account`.`city` (`name`, `state`, `country`) VALUES (#{name},#{state},#{country});
    </insert>

</mapper>
